.nav_color {
    background-color: #DC2C2C;
}

.main_color {
    background-color: #f2eeec;
}

.hero_section {}

.text_nav {
    font-size: 20px;
    padding-right: 120px;
}

.signin_btn {
    border-radius: 20px;
    text-decoration: none;
}

.signin_btn_desktop {
    border-radius: 20px;
    width: 80px;
    height: 50px;
    padding: 5px;
    margin-right: 10px;
    text-decoration: none;
}

.checkouflavors_btn {
    border-radius: 20px;
}

.checkouflavors__smartphonebtn {
    margin-left: 100px;
    margin-top: 10px;
}

.sizing {}

.footer_font {
    color: white;
}

button {
    border: none;
}

.carousel_size {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.card_text {
    text-align: center;
    font-weight: bold;
}

h2 {
    text-align: center;
    background-color: #f2eeec;
    font-weight: bold;
}

.history_image {}

h4 {
    text-align: center;
    justify-content: center;

}

.logos {
    text-align: center;
    justify-content: center;

}

.button_support {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.login {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.signin_page_logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

@media screen and (min-width: 600px) {
    .sizing {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 1440px) {
    .hero_section {
        padding-left: 120px;
    }
}

@media screen and (min-width: 391px) {
    .checkouflavors__smartphonebtn {
        display: none;
    }
}